- @tree_ids ||= []
%ul.nav.nav-pils.flex-column
  - pages.each do |page|
    %li.nav-item{class: ('active' if params[:id].to_i == page.id.to_i), id: "cat_#{page.id}"}
      .nav-link.flex
        = link_to '', pages_path(parent: page.id), remote: true, class: "toogle fa fa-#{ @tree_ids.include?(page.id) ? 'minus' : 'plus' }" if page.children.exists?

        = link_to children_page_path(page), class: "#{ 'children' if page.children.exists? }" do
          = page.name
        - if !page.active
          %span.badge.badge-warning> Hidden

        = link_to icon('edit'), edit_page_path(page.id), class: 'nav-link-edit'
      %hr/
      - if @tree_ids.present? && @tree_ids.include?(page.id)
        - pages = page.children
        - if pages.any?
          = render 'rows', pages: pages
