- provide(:title, "#{t(:_EDIT)}: #{@page.name}")

- content_for :sidebar_l2 do
  #sidebar-left2.span3
    .nav-collapse.sidebar-nav
      = render 'rows', pages: page_tree

.box-header
  %h2
    = icon('newspaper-o')
    %span.break
    = "#{t(:_EDIT)}: #{@page.name}"

.box-content
  = render 'form'

- content_for :javascript do
  :javascript
    <!--
    	#{raw(field_javascript)}
    	#{raw(tab_javascript)}
    -->
