- provide(:title, t(:_PAGES))
- content_for :sidebar_l2 do
  #sidebar-left2.span3
    .nav-collapse.sidebar-nav
      = render 'rows', pages: page_tree

.row-fluid.sortable.ui-sortable
  .box.span12
    .box-header
      %h2
        = icon('hand-pointer-o')
        %span.break
        %span Quick
    .box-content
      .row
        - Rhinoart::Menu::ContentMenu.items.each do |item|
          %div{class: "col col-md-#{12/Rhinoart::Menu::ContentMenu.items.count}"}
            - if can?(:manage, :all)
              %a.quick-button{href: "#{menu_item_link(item)}"}
                %i{class: "fa #{item.icon}"}
                %p= t item.label
                %span.notification= item.notification.try(:call)
            - else
              %span.quick-button{ style: 'cursor: default' }
                %i{class: "fa #{item.icon}"}
                %p= t item.label
                %span.notification= item.notification.try(:call)
      .clearfix