- provide(:title, "Sidebar")
.box
  .box-header
    %h2
      = icon('signal');
      %span.break
      = t('recent_activity')

  .box-content
    - if @activities.present?
      - @activities.group_by(&:whodunnit).each do |user_id, activities|
        - user = @users[user_id.to_i].try(:first)
        %legend= link_to user_name(user), rhinoart.user_path(id: user)
        = render 'user_activity', activities: activities.slice(0, 10)
    - else
      = t('no_activity')