- provide(:title, "All #{t(:_USERS)}")

.box-header
  %h2
    = icon('group')
    %span= t(:_USERS)



.box-content
  = render 'nav'


  - if @users.any?
    - dir = params[:dir].present? ? (params[:dir] == 'asc' ? 'desc' : 'asc') : 'asc'
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th{style: "width: 2%;"}
            = '#ID'
          %th.header{style: "border-top:0;"}
            = sort_link @search, :first_name, %i[first_name :last_name], 'Name'
          %th.header{style: "border-top:0;"}
            = sort_link @search, :email, 'Email'
          %th.header User Type
          %th.header{style: "border-top:0;"}
            = sort_link @search, :last_sign_in_at, 'Last sign in'
          %th{style: "width: 2%;"}
       

      - @users.each do |user|
        %tr{data: {id: user.id}}
          %td= user.id

          %td= link_to user_name(user), edit_user_path(user, redirect_to: request.fullpath)
          %td= user.email
          %td= user.roles.map(&:name).compact.join(", ")

          %td{ nowrap: 'nowrap' }
            %small
              - if user.last_sign_in_at.present?
                = user.last_sign_in_at.strftime("%m/%d/%Y %I:%M%p").html_safe
              - else
                Never        

          %td{ nowrap: 'nowrap' }
            - if user.sign_in_count.present? && user.sign_in_count.to_i > 0
              = link_to icon('folder-open-o'), user_path(user, redirect_to: request.fullpath), class: "btn btn-info btn-sm"
            = link_to icon('pencil'), edit_user_path(user, redirect_to: request.fullpath), class: "btn btn-sm btn-success"
            = link_to icon('trash'), user_path(user, hard_delete: true, redirect_to: request.fullpath), method: :delete, data: { confirm: "Are you sure that you want to delete that users?" }, class: "btn btn-danger btn-sm"
            - if user.approved?
              = link_to user_path(user, redirect_to: request.fullpath), method: :delete, data: { confirm: "Are you sure that you want to deny access that users?" }, class: "btn btn-sm btn-warning" do
                = icon('remove')
                Deny Access
            - else
              = link_to user_path(user, users: {approved: true}, redirect_to: request.fullpath), method: :patch, data: { confirm: "Are you sure that you want to confirm that users?" }, class: "btn btn-sm btn-warning" do
                = icon('ok')
                Grant Access

    = paginate @users
  - else
    %i There's no users.
