.box-header{"data-original-title" => ""}
  %h2
    = icon('list')
    %span.break
    = t(:_SITE_STRUCTURE)
.box-content
  .form-group
    = link_to new_page_path, class: 'btn btn-primary' do
      = t(:_NEW)
  %table.table.table-striped.tree
    %thead
      %tr
        %th{width: "70%"}= t(:Page)
        %th{width: "20%"}= t(:_STATUS)
        %th= t(:_ACTIONS)
    %tbody
      - @pages.each do |p|
        = render 'row', p: p, level: 0

  .pagination= paginate @pages
