- provide(:title, "#{t(:_SYSTEM_SETTINGS)}")
.box-header{"data-original-title" => ""}
  %h2
    =icon('cogs')
    %span.break
    = t(:_SYSTEM_SETTINGS)
.box-content
  .form-group
    = link_to new_setting_path, class: 'btn btn-primary' do
      = icon 'plus'
      = t(:_BTN_CREATE)

    = link_to caches_clear_path(redirect_to: request.fullpath), class: 'btn btn-primary' do
      = icon 'trash'
      = t(:_BTN_CLEAR_CACHE)

  %table.table.table-striped.tree
    %thead
      %tr
        %th{width: "20%"}= t(:_PARAMETER_NAME)
        %th{width: "60%"}= t(:_PARAMETER_VALUE)
        %th= t(:_ACTIONS)
    %tbody
      - @settings.each do |c|
        %tr
          %td
            %i.fa.fa-file
            %b= link_to c.name, edit_setting_path(c)
            %br/
            %i
              %small= c.descr
          %td= c.value[0..200] if c.value.present?
          %td.center
            = link_to icon('edit'), edit_setting_path(c), class: 'btn btn-info btn-sm'
            = link_to icon('trash'), setting_path(c), class: 'btn btn-danger  btn-sm', :method => :delete, :data => { :confirm => t('_DELETE_CONFIRM') }
